.navigation {
    width: 100%;
    height: 40px;
    background-color: #7826FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation .navigation-container {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .navigation-container .navigation-l {
    display: flex;
    align-items: center;
}

.navigation .navigation-container .navigation-l .icon-menu {
    margin-right: 5px;
}

.navigation .navigation-container .navigation-l .separator {
    margin: 0 8px;
}

.navigation .navigation-container .navigation-l .texto-navigation {
    font-size: 15px;
    font-weight: 400;
}

.navigation .navigation-container .navigation-r {
    display: flex;
    align-items: center;
}

.navigation .navigation-container .navigation-r .icon-cart {
    margin-right: 5px;
}

.navigation .navigation-container .navigation-r .text-cart {
    font-size: 15px;
    font-weight: 800;
    margin-right: 5px;
}

.navigation .navigation-container .navigation-r .total-carrinho {
    position: relative;
    top: 1px;
    font-size: 15px;
    font-weight: 1000;
    color: #EBFF06;
}

