.navbar {
    width: 100%;
    height: 55px;
    background-color: var(--background-navbar);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-container {
    width: 80%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-container .navbar-l {
    display: flex;
    align-items: center;
    color: var(--texto-branco);
}

.navbar .navbar-container .navbar-l .logo {
    font-weight: 1000;
    margin-right: 30px;
    font-size: 22px;
}

.navbar .navbar-container .navbar-r {
    display: flex;
    align-items: center;
}