@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-navbar: #6A1DE9;
    --texto-branco: #fff;
}

* {
    font-family: 'Nunito', sans-serif;
    color: var(--texto-branco);
}

body {
    padding: 0;
    margin: 0;
    background-color: #E7E5E5;
}